<a href="https://colab.research.google.com/github/LinaHu1990/Assignments/blob/main/Shark_Attack_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Questions to be answered 
# 1 What are the most dangerous types of sharks to humans?  
#Top 3 sharks mostly reported 
# White Shark 
# Tiger Shark 
# Bull Shark

# 2 Are children more likely to be attacked by sharks? 
# 3 Are shark attacks where sharks were provoked more or less dangerous? 
# 4 Are certain activities more likely to result in a shark attack? 

url = "https://github.com/LinaHu1990/Assignments/raw/main/attacks.csv"
col_names = ["CaseID", "Date", "Year", "Type","Country", "Area", "Location", "Activity", "Name", "Sex", "Age", "Injury", "Fatal", "Time", "Species", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
url = pd.read_csv('https://raw.githubusercontent.com/LinaHu1990/Assignments/main/attacks.csv', names = col_names, encoding = "ISO-8859-1")
df = pd.DataFrame(url)


#identify number of rows and columns 
#display(df.shape) 
#Result gives 25723 rows and 24 columns
#Identify and delete rows where all values are NAN 

df1 = df.dropna(how="all")

#remove 1st row as headers are provided
df2 = df1.iloc[1:] 


#remove unnecessary columns
#columns that are irrelevant to answer the questions (number 1-9)

df4 = df2.drop(columns=["1", "2", "3", "4", "5", "6", "7", "8", "9"]) 

#Question 1 What are the most dangerous types of sharks to humans?  
# use count() and sort()
Specie_Frequency = df4.groupby(["Species"])["CaseID"].count().reset_index(
  name="Count").sort_values(["Count"], ascending=False)

display(Specie_Frequency)

#Top 3 sharks mostly reported 
# White Shark 
# Tiger Shark 
# Bull Shark

# Question 2 Are children more likely to be attacked by sharks? 
# Children age <18 

df3 = df4.dropna(subset=['Age'])
df5 = df3.groupby(["Age"])["CaseID"].count().reset_index(
  name="Count").sort_values(["Count"], ascending=False)


# Question 3 Are shark attacks where sharks were provoked more or less dangerous? 

Type_excl_NAN = df4.dropna(subset=["Type"])
df6 = Type_excl_NAN[Type_excl_NAN["Type"].str.contains("Provoked")]

display(df6) #576 rows contain"Provoked"

Fatal = df6.groupby(["Type"])["Fatal"].count().reset_index(
  name="Count").sort_values(["Count"], ascending=False)

display(Fatal)












 

#count number unique values ID = df3.loc[:,"CaseID"].nunique()
# count empty values df.loc[:,'datetime'].isnull().sum()
# find unique values in column df3.loc[:,"Type"].unique()
#new_column_names = ["Case ID", "Date", "Year", "Type", "Country", "place", "card"]
#df1 = df.set_index("Case Number")
#df.drop(columns=["date"])
#df.columns = new_column_names
#df.drop(columns=['city','number_of_products','discount_card_used']) 
# pd.set_option('display.max_rows', 20)
# pd.set_option('display.min_rows', 20)
# pd.set_option('display.max_columns', 5)
# albums2 = albums.set_index("Album")
# display(albums2.sort_index())
# df.columns = new_column_names
# casting column to datatype df.loc[:,'total_amount'].astype('float')
# count frequency df.loc[:,'time_spent'].value_counts()
#df2 = df.loc[:, ~df.columns.str.contains('^Unnamed')]
# find row that contain_values = df[df['month'].str.contains('Ju')]

                                                Species  Count
1283                                        White shark    163
1081  Shark involvement prior to death was not confi...    105
805                                             Invalid    102
1068                    Shark involvement not confirmed     88
1158                                        Tiger shark     73
...                                                 ...    ...
724   C. macrurus captured 48 hours after attack wit...      1
723       C. leucas tooth fragment recovered from kayak      1
722                                     Bull sharks x 2      1
721                Bull sharks to 1.5 m [5']  in length      1
928                                     Porbeagle shark      1

[1549 rows x 2 columns]

,CaseID,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species
5,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
11,2018.05.24,24-May-2018,2018,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Morning,Grey reef shark
15,2018.05.00,May 2018,2018,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,NaN,"Tawny nurse shark, 2m"
42,2018.02.17,18-Feb-2018,2018,Provoked,AUSTRALIA,Victoria,Westernport Bay,Kayak fishing for sharks,Brett Palmer,M,34,"Shark rammed kayak, no injury to occupant PRO...",N,Night,NaN
56,2017.12.21,21-Dec-2017,2017,Provoked,MALAYSIA,Sepang,Bagan Lalang Beach,Fishing / Wading,Sairol Harun,M,24,"Minor injury to thigh, PROVOKED INCIDENT",N,NaN,Juvenile nurse shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6225,ND.0089,"No date, Before Aug-1987",0000,Provoked,VANUATU,Malampa Province,"Hokai, Malakula",Attempting to drive shark from area,a chief,M,NaN,Speared shark broke outrigger of canoe throwin...,N,NaN,A large hammerhead shark
6227,ND.0087,"No date, Before 1975",0000,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,Carl Bruster,M,19,"Ankle punctured & lacerated, hands abraded PRO...",N,NaN,"Nurse shark, 2.1 m [7']"
6251,ND.0055,Before 1958,0000,Provoked,BAHAMAS,Andros Islands,Middle Bight,Testing movie camera in full diving dress,John Fenton,M,NaN,Shark bit diver's sleeve after he patted it on...,N,NaN,"Nurse shark, 2.1 m [7']"
6255,ND.0051,Before 1957,0000,Provoked,CUBA,Havana Province,Cojimar,"Shark fishing, knocked overboard",Sandrillio,M,50,"FATAL, hip bitten PROVOKED INCIDENT",Y,NaN,NaN
6271,ND.0033,Before 1905,0000,Provoked,BURMA,NaN,NaN,Carrying a supposedly dead shark by its mouth,boy,M,NaN,4 fingers severed by 'dead' shark. PROVOKED AC...,N,NaN,NaN

       Type  Count
0  Provoked    572