<a href="https://colab.research.google.com/github/LinaHu1990/Assignments/blob/main/Shark_Attack_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Questions to be answered 
# 1 What are the most dangerous types of sharks to humans?  
# White Shark
# 2 Are children more likely to be attacked by sharks? 
# Result provides that children are not more likely to attacked by sharks. As more adults (Age>18) have been attacked
# 3 Are shark attacks where sharks were provoked more or less dangerous? 
# No result shows that cases were sharks were provoked didn't result in more fatalities 
# 4 Are certain activities more likely to result in a shark attack? 
# Surfing and swimming occur as most frequent activities with a shark attack

url = "https://github.com/LinaHu1990/Assignments/raw/main/attacks.csv"
col_names = ["CaseID", "Date", "Year", "Type","Country", "Area", "Location", "Activity", "Name", "Sex", "Age", "Injury", "Fatal", "Time", "Species", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
url = pd.read_csv('https://raw.githubusercontent.com/LinaHu1990/Assignments/main/attacks.csv', names = col_names, encoding = "ISO-8859-1")
df = pd.DataFrame(url)

#identify number of rows and columns 
#Result gives 25723 rows and 24 columns
#remove unnecessary columns
#columns that are irrelevant to answer the questions (number 1-9)

df4 = df.drop(columns=["1", "2", "3", "4", "5", "6", "7", "8", "9"]) 

#remove 1st row as headers are provided
df2 = df4.iloc[1:] 

#Identify and delete rows where all values in column "Species"are NAN 
# 3465 rows left

df1 = df2.dropna(subset=["Species"],how="all")

#Question 1 What are the most dangerous types of sharks to humans?  

#Explore data values in column "Species"
Species = df2["Species"].value_counts()

#print(species)
#Answer to Question 1: 163x white Shark 

# Question 2 Are children more likely to be attacked by sharks? 
# Children age <18 
# Identify and delete rows where all values in column "Age"are NAN 
# 3472 rows left

dfQ2 = df2.dropna(subset=["Age"],how="all")

# 57 rows are not a number 
# Convert rows to numbers 

Age = pd.to_numeric(dfQ2["Age"], errors = "coerce")
count_age_ht_18 = Age[Age > 18].count()
#print(count_age_ht_18)

#905 cases where age < 18 
#2314 cases where age > 18 

#Answer to Question 2: result provides that children are not more likely to attacked by sharks. As more adults (Age>18) have been attacked

# Question 3 Are shark attacks where sharks were provoked more or less dangerous? 

# Identify and delete rows where all values in column "Type"are NAN 
#6298 rows left

dfQ3 = df2.dropna(subset=["Type"],how="all")

# Identify how many cases by "Type" show "Provoked"
# Result shows for "Type = Provoked" 19 out of 565 cases were fatal
# Vs 1180 out of 3345+1180 for "Type = Unprovoked"

group = dfQ3.groupby(["Type"])["Fatal"].value_counts()

#print(group)

# Answer to Question 3: no result shows that cases were sharks were provoked didn't result in more fatalities 

# 4 Are certain activities more likely to result in a shark attack? 

# Identify and delete rows where all values in column "Activity"are NAN 
#6298 rows left

dfQ4 = df2.dropna(subset=["Activity"],how="all")

activities = dfQ4["Activity"].value_counts()
#print(activities)

#Answer to Question 4: surfing and swimming occur as most frequent activities with a shark attack

Surfing                                   971
Swimming                                  869
Fishing                                   431
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: Activity, Length: 1532, dtype: int64